.DS_store
cmd/standalone/standalone
cmd/standalone/*.yaml
cmd/infra/infra
lambda/receiver/receiver
lambda/processor/processor
lambda/exporter/exporter
lambda/*/*.zip
lambda/runlambda.sh
lambda/input.json
cmd/playground
config.yaml